/* Main Style */
* {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
  }

  /* navigation */
  body div {
    display: flex;
  }

.sidebar-title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: calc(90vh/12);
    background-color: #678b67;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.current {
    height: calc(90vh/12);
    background-color: #678b67;
    cursor: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.categorias{
    color: black;
    text-decoration: none;
    background-color: rgba(212, 212, 212, 0.425);    
    border: none;
    width: 100%;
    height: calc(90vh/12);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
.categorias:hover { /* hover: quando se toca com rato */
  background-color: #2a2f33;
  color:rgb(255, 255, 255);
}

.main-container {
    width: calc(100vw - 20rem);
    height: 90vh;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("./assets/px_register_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section{
  width:100%;
}

.main-container header {
  background-color: transparent;
  padding-top: 3rem;
  font-size: 2rem;
}
section header h1 {
  font-size: 2rem;
  margin-bottom:2rem;
}

.select-container{
  display:flex;
  padding-top:0.5rem;
}
.select-container > *{
  width:10rem;
  height:2rem;    
  border:none;
  
}

.select-container select:first-of-type{
  margin-right: 3rem;
} 

table{
  margin-top:2rem;
  border: 2px solid #8fbc8f;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #8fbc8f;
  padding:0.5rem;
  backdrop-filter: blur(5px);
  background-color: rgba(255,255,255,0.6);
  width:100%;


}


table th{
  padding:0.5rem 1rem;

}
table tr{
  text-align: center;
  
}

tr input{
  background-color:#678b67 ;
  border:none;
  width:4rem;
  height:1.5rem;
  padding-left:0.2rem;
}

tr button{
  background-color:#678b67 ;
  border:none;
  width:4rem;
  height:1.5rem;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

tr button:hover{
  background-color:#476847 ;
}


  /* .current {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(143, 188, 143, 1) 25%,
      rgba(255, 255, 255) 90%
    );
  } */

.current{
  color: black;
  text-decoration: none;
  background-color: rgba(212, 212, 212, 0.425);    
  border: none;
  width: 100%;
  height: calc(90vh/12);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.current:hover { /* hover: quando se toca com rato */
background-color: #2a2f33;
color:rgb(255, 255, 255);
}

